@import "./variables";

body {
  background-color: $background-primary;
  font-family: "Roboto", sans-serif;
  margin: 0;
}

.titleContainer {
  background-color: $background-secondary;
  border-radius: 2px;
}

.title {
  color: $text-primary;
  text-align: center;
  font-size: 24px;
  font-weight: 100;
  margin: 0;
}
