// ====================
// === Site Colours ===
// ====================
$background-primary: #355e7e;
$background-secondary: #6b5c7b;
$background-tertiary: #27363b;
$text-primary: #f1f1f1;
$text-secondary: #e8dcd7;
$theme-primary: #c06c84;
$theme-secondary: #f8b195;
$theme-tertiary: #f5717c;

:export {
  background-primary: $background-primary;
  background-secondary: $background-secondary;
  background-tertiary: $background-tertiary;
  text-primary: $text-primary;
  text-secondary: $text-secondary;
  theme-primary: $theme-primary;
  theme-secondary: $theme-secondary;
  theme-tertiary: $theme-tertiary;
}
