@import "app/variables";

.photos_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 50%;
  background-color: $background-tertiary;
}

.cards_slider_wrapper {
  display: flex;

  .card {
    flex: 1;
    min-width: 600px;
  }
}

.cards_slider {
  position: relative;
  max-width: 600px;
  max-height: 600px;
  margin: 0 auto;

  &:after {
    content: "";
    display: block;
    width: 100%;
    height: 600px;
    outline: 5px solid #61dafe;
    position: absolute;
    top: 0;
    left: 0;
  }
}
