@import "app/variables";

.section__title,
.album__name {
  color: $text-primary;
}

.albums_list {
}

.album {
  display: inline-block;
  margin: 10px 10px 10px 5px;
  padding: 10px;
  border: 1px solid $theme-secondary;
  border-radius: 4px;
  box-shadow: 3px 3px 10px rgba(40, 40, 40, 0.3);
  cursor: pointer;
  background-color: $theme-primary;
  transition: 0.3s all ease;

  &:hover {
    background-color: $theme-secondary;

    h4 {
      color: #5c5a61;
    }
  }

  h4 {
    margin: 0;
  }
}
