@import "app/variables";

.album_cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.album__name {
  color: $text-primary;
  margin: 0;
}

.album {
  display: inline-block;
  margin: 5px;
  padding: 10px;
  border: 1px solid $theme-secondary;
  border-radius: 4px;
  box-shadow: 3px 3px 10px rgba(40, 40, 40, 0.3);
  cursor: pointer;
  background-color: $theme-primary;
  transition: 0.3s all ease;

  &:hover {
    background-color: $theme-secondary;

    p {
      color: $text-secondary;
    }
  }

  h4 {
    margin: 0;
  }
}
